* {
	font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
	max-width: 950px;
	min-width: 290px;
	margin: 0 auto;
}
@import 'base/variables';
@import 'base/mixins';
@import 'bloks/promo';
@import 'bloks/header';
@import 'bloks/buttons';
@import 'bloks/titles';
@import 'bloks/forms';
@import 'bloks/advantages';
@import 'bloks/consultation';
@import 'bloks/carousel';
@import 'media/media';