.advantages {
	min-height: 473px;
	padding: 73px 15px 85px;
	background: #F6F6F6;
	&__wrapper {
		margin-top: 60px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 238px;
	}
	&__subtitle {
		margin-top: 35px;
		font-weight: 700;
		font-size: 18px;
		line-height: 29px;
		text-align: center;
		color: $black_color;
	}
	&__descr {
		margin-top: 20px;
		font-weight: 500;
		font-size: 14px;
		line-height: 18px;
		text-align: center;
		color: $black_color;
		a {
			color: $main_color;
			text-decoration: underline;
		}
	}
	&__icon {
		&_animated-one {
			animation: cup 5s ease-in infinite;
			&:hover {
				animation-play-state: paused;
			}
		}
		&_animated-two {
			animation: heartbeat 5s ease infinite;
			&:hover {
				animation-play-state: paused;
			}
		}
		&_animated-three {
			animation: shoe 5s ease-out infinite;
			&:hover {
				animation-play-state: paused;
			}
		}
	}
}