.reviews {
    padding: 0 15px 50px;
    min-height: 920px;
    &__content {
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }
    &__img {
        width: 169px;
        height: 169px;
    }
    &-text {
        max-width: 690px;
        padding-left: 60px;
        &__header {
            font-weight: 700;
            font-size: 18px;
            color: $black_color;
        }
        &__subheader {
            font-weight: 500;
            font-size: 14px;
            color: #646464;
        }
        &__descr {
            margin-top: 10px;
            font-weight: 300;
            font-size: 16px;
            line-height: 25px;
            color: $black_color;
        }
    }
}