@media (max-width: 991px) {
	.button {
		&_mini {
			width: 95px;
			height: 36px;
			font-size: 14px;
		}
	}
}
@media (max-width: 575px) {
	.button {
		&_main {
			margin-top: 57px;
			width: 290px;
			height: 50px;
		}
		&_submit {
			height: 50px;
		}
	}
}